
  <div class="topnav">
    <ul >

    <li><a href=""  style=" font-weight: bold; font-size: large;">Welcome Admin!</a></li>
    <li style="float: right; padding-right: 10px;">
      <button type="button" class="button"  style="float: right; padding-right: 20px; height:50px" >LogOut </button>
    </li>

    </ul>
  </div>

      <div class="row">
        <div class="main">
          <div class="card">

            <form method="post" action="result.jsp">

                <div class="card">

                  <table class="table ">
                    <thead>
                  <tr>
                    <td> <u> <b> Farmer Id</b></u></td>
                    <td > <u> <b> Crop Type</b></u></td>
                    <td >  <u> <b> Crop Name</b></u></td>
                    <td > <u> <b> Base Price</b></u></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td > <button type="button" class="btn">Approve </button></td>
                    <td > <button type="button" class="button">Reject </button></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td > <button type="button" class="btn">Approve </button></td>
                    <td > <button type="button" class="button">Reject </button></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td > <button type="button" class="btn">Approve </button></td>
                    <td > <button type="button" class="button">Reject </button></td>
                  </tr>
                </tbody>

                </table>
                 </div>
              </form>
          </div>
        </div>
      </div>

